{% extends 'base.html' %}
{% load i18n %}
{% block content%}
    
    {% get_current_language as LANGUAGE_CODE %}
    </form>
     <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" >
        <select name="language" class="select-language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
    <h1 style="text-align: center">{% trans "What do you want to search?"%}</h1>

    <div class="row">
        <div class="col s4">
            
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">add_shopping_cart</i>
                <p>{% trans "Search discounts" %}</p>
                <p class="light center">{% trans "Aquire the best offers from the best sites."%}</p>
            </div>
        </div>

        <div class="col s4">
            
            <div class="center">
                <i class="large material-icons" style="color: orange">euro_symbol</i>
                <p>{% trans "Regional pricing"%}</p>
                <p class="light center">{% trans "Get your prices in your local currency."%}</p>
            </div>
        </div>

        <div class="col s4">
            
            <div class="center">
                <i class="large material-icons" style="color: blue">verified_user</i>
                <p>{% trans "Online security"%}</p>
                <p class="light center">{% trans "Feel confident to buy with the best security."%}</p>
            </div>
        </div>
    </div>

    <form action="{% url 'new_search'%}" method="post">
        {% csrf_token %} 
        <input type="text" name="search" placeholder="" >
         <button class="btn waves-effect waves-light" type="submit" name="action">{% trans "Submit"%}
            <i class="material-icons right">send</i>
        </button>
    </form>

    <div class="container">

        <div class="row">
            {% for cat in search %}
                {% for post in final_postings %}
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                                <a href="{{ post.url }}"><img src="{{ post.imgurl }}" alt=""></a>
                            </div>
                            <div class="card-content">
                                <p>{{ post.titulo }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ post.url }}">Ver producto: Precio {{ post.precio }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


{% endblock content %}